* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

div,
select,
.button {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(69, 129, 225);
  width: 150px;
  height: 50px;
  border: 2px solid rgb(53, 61, 131);
  padding: 10px;
  margin: 5px;
  color: white;
  font-size: x-large;
  text-align: center;
}

input {
  width: 400px;
  height: 50px;
  border: 2px solid rgb(53, 61, 131);
  padding: 10px;
  margin: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  color: black;
}

.button {
  border-radius: 10px;
  width: 180px;
  height: 60px;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #4caf50;
}

.button:hover {
  background-color: cornflowerblue;
  color: brown;
}

select {
  width: 225px;
  background-color: white;
  color: black;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}



/* The container */
.container {
  display: inline;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #2196f3;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgb(69, 129, 225);
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(69, 129, 225);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}



