* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

.title_field {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  color: rgb(57, 43, 43);
  background-color: lightgray;
  display: block;
  width: 500px;
  height: 50px;
  font-weight: 540;
  padding: 10px;
  margin: 10px;
  text-align: left;
}

div,
.button {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(69, 129, 225);
  width: 235px;
  height: 50px;
  border: 2px solid rgb(53, 61, 131);
  padding: 10px;
  margin: 5px;
  color: white;
  font-size: x-large;
}

input {
  width: 255px;
  height: 50px;
  border: 2px solid rgb(53, 61, 131);
  padding: 10px;
  margin: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  color: black;
}

.button {
  border-radius: 10px;
  width: 225px;
  height: 60px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4caf50;
  color: brown;
}
